<p id="notice"><%= notice %></p>


  <h1><strong>My Task:</strong>
  <%= @todo_item.description %> </h1>

<h3>
<%= link_to 'Edit', edit_todo_item_path(@todo_item), :class =>'button' %> |
 <%= link_to 'Back', todo_items_path, :class => 'button' %> 
</h3>